.commitScreenContainer {
    border: solid 1px #000000;
    height: 100%;

    h2 {
        color: #ffffff;
        background: #000000;
        text-align: center;
    }

    .commitsSection {
        width: 50%;
        border: solid 1px #000000;
        border-bottom: none;
        position: relative;
        left: 25%;
    }

    .commit {
        border-bottom: #000000 solid 1px;
        position: relative;
        padding: 1rem;

        p {
            margin: 0px;
        }

        .authorLogo {
            width: 30px;
            height: 30px;
            border-radius: 30px;
        }

        .date {
            font-weight: bold;
        }
    }
}